<nav class="col-md-3 col-lg-2 d-none d-md-block text-light navbar-dark sidebar pt-5 px-2">
  <div class="sidebar-sticky">
    <h5 (click)="refreshStatus()">Servers</h5>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>Authorization server</span>
      </h6>

      <div class="stat-box ml-4">
        <p class="mb-0"><strong>IP:</strong>&nbsp;<span>127.0.0.1</span></p>
        <p class="mb-0"><strong>Status:</strong>&nbsp;<span class="text-success">Running</span></p>
      </div>
    </div>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>Agent server</span>
      </h6>

      <div class="stat-box ml-4">
        <p class="mb-0"><strong>IP:</strong>&nbsp;<span>127.0.0.1</span></p>
        <p class="mb-0"><strong>Status:</strong>&nbsp;<span class="text-success">Running</span></p>
      </div>
    </div>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>Game server</span>
      </h6>

      <div class="stat-box ml-4">
        <p class="mb-0"><strong>IP:</strong>&nbsp;<span>127.0.0.1</span></p>
        <p class="mb-0"><strong>Status:</strong>&nbsp;<span class="text-success">Running</span></p>
      </div>
    </div>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>World server</span>
      </h6>

      <div class="stat-box ml-4">
        <p class="mb-0"><strong>IP:</strong>&nbsp;<span>127.0.0.1</span></p>
        <p class="mb-0"><strong>Status:</strong>&nbsp;<span class="text-success">Running</span></p>
      </div>
    </div>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>Database proxy</span>
      </h6>

      <div class="stat-box ml-4">
        <p class="mb-0"><strong>IP:</strong>&nbsp;<span>127.0.0.1</span></p>
        <p class="mb-0"><strong>Status:</strong>&nbsp;<span class="text-danger">Stopped</span></p>
      </div>
    </div>
  </div>
</nav>